* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: Arial, sans-serif;
  height: 100%;
  background-color: #fff;
  font-size: 16px;
}

header {
  background-color: #f1c40f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2.5rem;
}

.logo img {
  height: 3.75rem;
  max-width: 100%;
}

.menu-icon {
  font-size: 1.75rem;
  cursor: pointer;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.5rem 1.25rem;
}

.container {
  text-align: center;
  max-width: 31.25rem;
  width: 100%;
}he

label {
  display: block;
  text-align: left;
  font-size: 1.125rem;
  margin: 1rem 0 0.3rem;
}

input {
  width: 100%;
  padding: 0.625rem;
  font-size: 1rem;
  border-radius: 0.625rem;
  border: 1px solid #aaa;
  background-color: #ddd;
  cursor: pointer;
}

.taxi-img img {
  margin: 2rem 0;
  width: 100%;
  max-width: 15.625rem;
  height: auto;
}

.preco {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 1.25rem;
}

.btn {
  background-color: #f1c40f;
  padding: 0.9375rem 1.875rem;
  font-weight: bold;
  color: black;
  border-radius: 0.5rem;
  text-decoration: none;
  box-shadow: 0.125rem 0.125rem 0.25rem rgba(0,0,0,0.3);
  display: inline-block;
  transition: transform 0.2s ease;
}

.btn:hover {
  background-color: #6c5700;
  transform: scale(1.1);
}

/* Estilo do mapa */
#mapa-container {
  margin: 1.25rem 0;
  position: relative;
  width: 100%;
  height: 26.25rem;
  border: 0.125rem solid #ccc;
  border-radius: 0.625rem;
  overflow: hidden;
  background-color: #fdfdfd;
  visibility: visible;
}

#mapa {
  width: 100% !important;
  height: 100% !important;
  z-index: 1;
  display: block;
}

.mapa-oculto {
  display: none;
}

.fechar-mapa {
  background-color: #f1c40f;
  text-align: center;
  font-weight: bold;
  padding: 0.625rem;
  font-size: 0.875rem;
}

/* Responsivo */
@media (max-width: 600px) {
  .container {
    padding: 1rem;
  }

  label, input, .preco, .btn, .fechar-mapa {
    font-size: 1rem;
  }

  .btn {
    width: 100%;
  }

  .taxi-img img {
    max-width: 100%;
  }

  #mapa-container {
    height: 20rem;
  }
}

